@font-face {
    font-family: 'HerrVonMuellerhoff-Regular';
    src: local('HerrVonMuellerhoff-Regular'), url(../../fonts/HerrVonMuellerhoff-Regular.ttf) format('truetype');
  }


.h3-welcome {
    font-size: 150px;
    color: #e8d0b8;
    font-family:HerrVonMuellerhoff-Regular;
    font-weight: 400;
    font-style: normal;
}

.p-welcome{
  text-align: justify;
  line-height: 25px;
}